fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic[email]
email-validator
passlib
pyupbit
google-generativeai
google-genai
opencv-python-headless
numpy
cryptography
slowapi
python-multipart
aiofiles
trimesh
